ASSESSMENT- Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [128]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [129]:
users=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',sep='|')
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [130]:
users.set_index('user_id',inplace=True)

### Step 4. See the first 25 entries

In [131]:
users.head(25)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

### Step 5. See the last 10 entries

In [132]:
users.tail(10)

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### Step 6. What is the number of observations in the dataset?

In [133]:
users.shape[0]

943

### Step 7. What is the number of columns in the dataset?

In [134]:
len(users.columns)

4

### Step 8. Print the name of all the columns.

In [135]:
",".join(users.columns)

'age,gender,occupation,zip_code'

### Step 9. How is the dataset indexed?

In [136]:
users.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

### Step 10. What is the data type of each column?

In [137]:
users.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Step 11. Print only the occupation column

In [138]:
pd.DataFrame(users.occupation)

            occupation
user_id
1           technician
2                other
3               writer
4           technician
5                other
...                ...
939            student
940      administrator
941            student
942          librarian
943            student

[943 rows x 1 columns]

### Step 12. How many different occupations are in this dataset?

In [139]:
len(users.occupation.unique())

21

### Step 13. What is the most frequent occupation?

In [140]:
pd.DataFrame(users.occupation.value_counts()).index[0]

'student'

### Step 14. Summarize the DataFrame.

In [141]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

### Step 15. Summarize all the columns

In [142]:
users.mode()

   age gender occupation zip_code
0   30      M    student    55414

In [143]:
users.age.mean()

34.05196182396607

In [144]:
l = lambda x : pd.Series.mode(x)[0][:]
users.groupby('zip_code').agg(age_mean=('age','mean'),gender_mode=('gender',l),occupation_mode=('occupation',l))

          age_mean gender_mode occupation_mode
zip_code
00000         54.5           F        engineer
01002         29.0           M         student
01040         41.0           M   entertainment
01080         48.0           M       librarian
01331         37.0           M      programmer
...            ...         ...             ...
V0R2M         47.0           M           other
V1G4L         35.0           F   administrator
V3N4P         31.0           M   entertainment
V5A2B         29.0           F          artist
Y1A6B         47.0           M      technician

[795 rows x 3 columns]

In [145]:
data_occupation = users.groupby(['occupation','gender']).agg(average_age = ('age','mean'),gender_count = ('gender','count'))
data_occupation

                      average_age  gender_count
occupation    gender
administrator F         40.638889            36
              M         37.162791            43
artist        F         30.307692            13
              M         32.333333            15
doctor        M         43.571429             7
educator      F         39.115385            26
              M         43.101449            69
engineer      F         29.500000             2
              M         36.600000            65
entertainment F         31.000000             2
              M         29.000000            16
executive     F         44.000000             3
              M         38.172414            29
healthcare    F         39.818182            11
              M         45.400000             5
homemaker     F         34.166667             6
              M         23.000000             1
lawyer        F         39.500000             2
              M         36.200000            10
librarian     F         40.000000            29
              M         40.000000            22
marketing     F         37.200000            10
              M         37.875000            16
none          F         36.500000             4
              M         18.600000             5
other         F         35.472222            36
              M         34.028986            69
programmer    F         32.166667             6
              M         33.216667            60
retired       F         70.000000             1
              M         62.538462            13
salesman      F         27.000000             3
              M         38.555556             9
scientist     F         28.333333             3
              M         36.321429            28
student       F         20.750000            60
              M         22.669118           136
technician    F         38.000000             1
              M         32.961538            26
writer        F         37.631579            19
              M         35.346154            26

### Step 16. Summarize only the occupation column

In [146]:
users.occupation.describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### Step 17. What is the mean age of users?

In [147]:
users.age.mean()

34.05196182396607

### Step 18. What is the age with least occurrence?

In [148]:
users.age.value_counts(ascending=True).to_numpy()[0]

1

###Step 19. Write a lambda function to convert a string column to a numerical column

In [149]:
users['useless'] = ['123']*users.shape[0]
sToi = lambda x : int(x)
users.useless = users['useless'].apply(sToi)
users.dtypes

age            int64
gender        object
occupation    object
zip_code      object
useless        int64
dtype: object

In [150]:
gender_d = {'M':1,'F':0}
users.gender=users['gender'].apply(lambda x : gender_d[x])
users.dtypes

age            int64
gender         int64
occupation    object
zip_code      object
useless        int64
dtype: object