In [2]:
bucket = 'interstellar-bucket'
subfolder = 'assignment2/data'

In [3]:
from sagemaker import get_execution_role
role = get_execution_role()
access_key_id = 'AKIAUSEODYLG3WRSVJ66'
access_key = 'fWebclMF2omHvQD+QVmpfRfSebYGC1N0WiShDF5n'

In [4]:
import boto3
session = boto3.Session( 
         aws_access_key_id=access_key_id, 
         aws_secret_access_key=access_key)
s3 = session.resource('s3')
my_bucket = s3.Bucket('interstellar-bucket')

In [5]:
client = boto3.client('s3')
files = client.list_objects(Bucket=bucket, Prefix=subfolder)['Contents']

In [6]:
from io import StringIO
import pandas as pd

In [7]:
obj = client.get_object(Bucket=bucket, Key=files[0]['Key'])

data = pd.read_csv(StringIO(obj['Body'].read().decode('utf-8')),sep=',')

In [8]:
for i in files[1:]:
    obj = client.get_object(Bucket=bucket, Key=i['Key'])
    data=pd.concat([data,pd.read_csv(StringIO(obj['Body'].read().decode('utf-8')),sep=',')],ignore_index=True,axis=0)

In [9]:
data

            Date   Open   High    Low  Close    Volume
0     2006-01-03  39.69  41.22  38.79  40.91  24232729
1     2006-01-04  41.22  41.90  40.77  40.97  20553479
2     2006-01-05  40.93  41.73  40.85  41.53  12829610
3     2006-01-06  42.88  43.57  42.80  43.21  29422828
4     2006-01-09  43.10  43.66  42.82  43.42  16268338
...          ...    ...    ...    ...    ...       ...
3014  2017-12-22  71.42  71.87  71.22  71.58  10979165
3015  2017-12-26  70.94  71.39  69.63  69.86   8542802
3016  2017-12-27  69.77  70.49  69.69  70.06   6345124
3017  2017-12-28  70.12  70.32  69.51  69.82   7556877
3018  2017-12-29  69.79  70.13  69.43  69.85   6613070

[3019 rows x 6 columns]

In [10]:
data.isna().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64

In [11]:
data.to_csv('autopilot-data.csv',index=False,header=True)

In [12]:
client.upload_file('autopilot-data.csv',bucket,'results/autopilot-data.csv')

In [13]:
input_data_config = [{
      'DataSource': {
        'S3DataSource': {
          'S3DataType': 'S3Prefix',
          'S3Uri': 's3://{}/{}'.format(bucket,'results/autopilot-data.csv')
        }
      },
      'TargetAttributeName': 'Close'
    }
  ]

output_data_config = {
    'S3OutputPath': 's3://{}/{}/output'.format(bucket,'results/autopilot-result/result1')
  }

In [14]:
job_config = {
    'CompletionCriteria': {
        'MaxRuntimePerTrainingJobInSeconds' : 300,
        'MaxAutoMLJobRuntimeInSeconds' : 3600
    },
}

problem_type = 'Regression'
job_objective = { 'MetricName' : 'MSE' }

In [24]:
from datetime import datetime
dt = datetime.now()
ts = datetime.timestamp(dt)

In [15]:
ts='1655135052.277221'

In [16]:
automljob = 'automl-job-' + str(ts).replace('.','-')

In [17]:
automljob='automl-job-1655135052-277221'

In [18]:
print('AutoMLJobName: ' + automljob)

AutoMLJobName: automl-job-1655135052-277221

In [19]:
sm = boto3.client('sagemaker')

In [29]:
sm.create_auto_ml_job(AutoMLJobName=automljob,
                      InputDataConfig=input_data_config,
                      OutputDataConfig=output_data_config,
                      AutoMLJobConfig=job_config,
                      AutoMLJobObjective=job_objective,
                      ProblemType=problem_type,
                      RoleArn=role)

ResourceInUse: An error occurred (ResourceInUse) when calling the CreateAutoMLJob operation: An AutoML job with the name automl-job-1655135052-277221 already exists. Choose a different name.

In [20]:
candidates = sm.list_candidates_for_auto_ml_job(AutoMLJobName=automljob, SortBy='FinalObjectiveMetricValue')['Candidates']
index = 1
for candidate in candidates:
    print(str(index) + "  " + candidate['CandidateName'] + "  " + str(candidate['FinalAutoMLJobObjectiveMetric']['Value']))
    index += 1

1  automl-job-1655135052-277221GVEo-071-89845e8d  2218.193115234375
2  automl-job-1655135052-277221GVEo-007-2a16a42d  2217.93603515625
3  automl-job-1655135052-277221GVEo-005-73bf7684  2211.170654296875
4  automl-job-1655135052-277221GVEo-020-4ef32863  1514.6864013671875
5  automl-job-1655135052-277221GVEo-016-7e9ca72d  1396.05859375
6  automl-job-1655135052-277221GVEo-060-22c1ff52  1055.0216064453125
7  automl-job-1655135052-277221GVEo-006-586c979c  702.8222045898438
8  automl-job-1655135052-277221GVEo-013-3a81dfee  355.86328125
9  automl-job-1655135052-277221GVEo-033-ade1bbb4  343.92437744140625
10  automl-job-1655135052-277221GVEo-022-ca5e9fc7  323.83868408203125

In [35]:
from time import sleep
print ('JobStatus - Secondary Status')
print('------------------------------')


describe_response = sm.describe_auto_ml_job(AutoMLJobName=automljob)
print (describe_response['AutoMLJobStatus'] + " - " + describe_response['AutoMLJobSecondaryStatus'])
job_run_status = describe_response['AutoMLJobStatus']
    
while job_run_status not in ('Failed', 'Completed', 'Stopped'):
    describe_response = sm.describe_auto_ml_job(AutoMLJobName=automljob)
    job_run_status = describe_response['AutoMLJobStatus']
    
    print (describe_response['AutoMLJobStatus'] + " - " + describe_response['AutoMLJobSecondaryStatus'])
    sleep(30)

JobStatus - Secondary Status
------------------------------
Completed - MaxAutoMLJobRuntimeReached

In [22]:
job = sm.describe_auto_ml_job(AutoMLJobName=automljob)

job_candidate_notebook = job['AutoMLJobArtifacts']['CandidateDefinitionNotebookLocation']
job_data_notebook = job['AutoMLJobArtifacts']['DataExplorationNotebookLocation']
job_best_candidate = job['BestCandidate']
job_best_candidate_name = job_best_candidate['CandidateName']

In [23]:
job_candidate_notebook

's3://interstellar-bucket/results/autopilot-result/result1/output/automl-job-1655135052-277221/sagemaker-automl-candidates/automl-job-1655135052-277221-pr-1-5161ec31259b478b93433cdb2e2df/notebooks/SageMakerAutopilotCandidateDefinitionNotebook.ipynb'

In [24]:
job_data_notebook

's3://interstellar-bucket/results/autopilot-result/result1/output/automl-job-1655135052-277221/sagemaker-automl-candidates/automl-job-1655135052-277221-pr-1-5161ec31259b478b93433cdb2e2df/notebooks/SageMakerAutopilotDataExplorationNotebook.ipynb'

In [34]:
job_best_candidate_name

'automl-job-1655135052-277221GVEo-049-80f1a176'

In [26]:
%%sh -s $job_candidate_notebook $job_data_notebook
aws s3 cp $1 .
aws s3 cp $2 .

download: s3://interstellar-bucket/results/autopilot-result/result1/output/automl-job-1655135052-277221/sagemaker-automl-candidates/automl-job-1655135052-277221-pr-1-5161ec31259b478b93433cdb2e2df/notebooks/SageMakerAutopilotCandidateDefinitionNotebook.ipynb to ./SageMakerAutopilotCandidateDefinitionNotebook.ipynb
download: s3://interstellar-bucket/results/autopilot-result/result1/output/automl-job-1655135052-277221/sagemaker-automl-candidates/automl-job-1655135052-277221-pr-1-5161ec31259b478b93433cdb2e2df/notebooks/SageMakerAutopilotDataExplorationNotebook.ipynb to ./SageMakerAutopilotDataExplorationNotebook.ipynb

In [43]:
model_name = 'autopilot-model-'+ str(ts).replace('.','-')+'v4'
model = sm.create_model(Containers=job_best_candidate['InferenceContainers'],
                       ModelName=model_name,ExecutionRoleArn=role)
print("Model ARN corresponding to best is : {}".format(model['ModelArn']))

Model ARN corresponding to best is : arn:aws:sagemaker:us-east-1:313830654669:model/autopilot-model-1655135052-277221v4

In [42]:
transform_job_name = 'autopilot-transform-'+ str(ts).replace('.','-')

transform_input = {
    'DataSource' : {
        'S3DataSource': {
            'S3DataType' : 'S3Prefix',
            'S3Uri' : 's3://{}/{}'.format(bucket,'assignment2/res/autopilot_input.csv')
        }
    },
    'ContentType': 'text/csv',
    'CompressionType': 'None',
    'SplitType': 'Line'
}
transform_output = {
    'S3OutputPath' : 's3://{}/{}'.format(bucket,'assignment2/res/inference-results')
}

transform_resources = {'InstanceType': 'ml.m5.4xlarge',
                      'InstanceCount':1
                      }

In [44]:
sm.create_transform_job(TransformJobName = transform_job_name,
                        ModelName = model_name,
                        TransformInput = transform_input,
                        TransformOutput = transform_output,
                        TransformResources = transform_resources)

{'TransformJobArn': 'arn:aws:sagemaker:us-east-1:313830654669:transform-job/autopilot-transform-1655135052-277221v4',
 'ResponseMetadata': {'RequestId': '73e2e6af-8c21-4aab-b92d-b6cb41e0dcdf',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '73e2e6af-8c21-4aab-b92d-b6cb41e0dcdf',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '116',
   'date': 'Tue, 14 Jun 2022 06:05:21 GMT'},
  'RetryAttempts': 0}}

In [45]:
print ('JobStatus')
print('----------')

describe_response = sm.describe_transform_job(TransformJobName = transform_job_name)
job_run_status = describe_response['TransformJobStatus']
print (job_run_status)

while job_run_status not in ('Failed', 'Completed', 'Stopped'):
    describe_response = sm.describe_transform_job(TransformJobName = transform_job_name)
    job_run_status = describe_response['TransformJobStatus']
    print (job_run_status)
    sleep(30)

JobStatus
----------
InProgress
InProgress
InProgress
InProgress
InProgress
InProgress
InProgress
InProgress
InProgress
InProgress
InProgress
InProgress
Completed

In [46]:
describe_response

{'TransformJobName': 'autopilot-transform-1655135052-277221v4',
 'TransformJobArn': 'arn:aws:sagemaker:us-east-1:313830654669:transform-job/autopilot-transform-1655135052-277221v4',
 'TransformJobStatus': 'Completed',
 'ModelName': 'autopilot-model-1655135052-277221v4',
 'TransformInput': {'DataSource': {'S3DataSource': {'S3DataType': 'S3Prefix',
    'S3Uri': 's3://interstellar-bucket/assignment2/res/autopilot_input.csv'}},
  'ContentType': 'text/csv',
  'CompressionType': 'None',
  'SplitType': 'Line'},
 'TransformOutput': {'S3OutputPath': 's3://interstellar-bucket/assignment2/res/inference-results',
  'AssembleWith': 'None',
  'KmsKeyId': ''},
 'TransformResources': {'InstanceType': 'ml.m5.4xlarge', 'InstanceCount': 1},
 'CreationTime': datetime.datetime(2022, 6, 14, 6, 5, 21, 806000, tzinfo=tzlocal()),
 'TransformStartTime': datetime.datetime(2022, 6, 14, 6, 8, 38, 162000, tzinfo=tzlocal()),
 'TransformEndTime': datetime.datetime(2022, 6, 14, 6, 10, 48, 961000, tzinfo=tzlocal()),
 'DataProcessing': {'InputFilter': '$',
  'OutputFilter': '$',
  'JoinSource': 'None'},
 'ResponseMetadata': {'RequestId': '9579aeac-a711-4747-988a-fee2707a9698',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '9579aeac-a711-4747-988a-fee2707a9698',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '1035',
   'date': 'Tue, 14 Jun 2022 06:10:57 GMT'},
  'RetryAttempts': 0}}

In [71]:
file = client.list_objects(Bucket=bucket, Prefix='assignment2/res/inference-results/autopilot_input.csv.out')['Contents']
obj=client.get_object(Bucket=bucket,Key = file[0]['Key'])

In [72]:
data_out=pd.read_csv(StringIO(obj['Body'].read().decode('utf-8')),header=None)

In [74]:
data_out

             0
0     9.375504
1    25.329111
2    25.819088
3    25.588224
4    26.426893
..         ...
496  40.672436
497  40.671307
498  40.916359
499  41.138588
500  40.147682

[501 rows x 1 columns]